@model Data_Annotation.Models.Employee
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(model => model.EmployeeID) &nbsp; @Html.TextBoxFor(model => model.EmployeeID, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeName) &nbsp; @Html.TextBoxFor(model => model.EmployeeName, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeAge) &nbsp; @Html.TextBoxFor(model => model.EmployeeAge, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmployeeAge, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeGender) &nbsp; @Html.TextBoxFor(model => model.EmployeeGender, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmployeeGender, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeEmail) &nbsp; @Html.TextBoxFor(model => model.EmployeeEmail, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmployeeEmail, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeePassword) &nbsp; @Html.EditorFor(model => model.EmployeePassword, "", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EmployeePassword, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeConfirmPassword) &nbsp; @Html.EditorFor(model => model.EmployeeConfirmPassword, "", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EmployeeConfirmPassword, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeAddress) &nbsp; @Html.EditorFor(model => model.EmployeeAddress, "", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EmployeeAddress, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeJoiningDate) &nbsp; @Html.EditorFor(model => model.EmployeeJoiningDate, "", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EmployeeJoiningDate, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeJoiningTime) &nbsp; @Html.EditorFor(model => model.EmployeeJoiningTime, "", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EmployeeJoiningTime, "", new { @class = "text-danger" })
    </p>
    <p>
        @Html.LabelFor(model => model.EmployeeOrganization) &nbsp; @Html.TextBoxFor(model => model.EmployeeOrganization, "", new { @class = "form-control", @Value = "ABC Organization", @readonly = true })
    </p>

    <input type="submit" value="Submit" class="btn btn-info" />
    @Html.Raw(ViewData["SuccessMsg"])

}