
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
p>THIS IS A ABOUT PAGE</p>
<h3>ViewData Data Is: @ViewData["Var1"]</h3>
<h3>ViewBag Data Is: @ViewBag.Var2</h3>
<h3>TempData Data Is: @TempData["Var3"]</h3>
<h3>Session Data Is: @Session["Var4"]</h3>

<ul>
    @{ 
        foreach(string i in (string[])Session["Var5"])
        {
            <li>@i</li>
        }
    }
</ul>

